body {
    background: url('/images/mk1.jpeg');
    background-size: cover; /*Faz a imagemde fundo ser autoajustavel*/
    background-attachment: fixed; /*Faz a imagem ficar parada e o não se mover ao usar o mouse*/
    height: 100vh; /*V= vertical e H= horizontal -> 100% na vertical e horizontal*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

img {
    height: 50px;
}

.horario {
    width: 250px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 10px;
    box-shadow: 3px 3px 10px black; /*Ajusta a sombra | Y X Enovoamento Cor*/
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.saudacao {
    width: 250px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 10px;
    box-shadow: 3px 3px 10px black; /*Ajusta a sombra | Y X Enovoamento Cor*/
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}
.central{
    width: 400px;
    height: 150px;
    background-color: rgba(128, 128, 128, 0.596);
    border-radius: 10px;
    box-shadow: 3px 3px 10px black; /*Ajusta a sombra | Y X Enovoamento Cor*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; /*Faz espaçamento interno*/
}

/* Formata todas as divs dentro de central */
.central div {
    width: 120px;
    height: 130px;
    background: black;
    color: white;
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.central span {
    color: white;
    font-size: 70px;
}

.manha {
    background: url('/images/25_tqt01.png');
    background-size: cover;
    background-attachment: fixed;
}
.tarde {
    background: url('/images/subzero.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.noite {
    background: url('/images/mk1.jpeg');
    background-size: cover;
    background-attachment: fixed;
}