body {
    height: 100vh;
    margin: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    min-width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.central {
    width: fit-content;
    background: rgba(255, 255, 255, 0.486);
    padding: 40px;
    border-radius: 30px;
    box-shadow: 2px 2px 15px rgb(175, 171, 171);
}

.central button {
    background: darkred;
    color: white;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    outline: 1px solid white;
    width: 40%;
}

.central button:hover{
    background: white;
    color: darkred;
    outline: 1px solid darkred;
}

.central input {
    padding: 12px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 60%;
}

.central > .subcentral {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;

}

#qrcode {
    margin-top: 15px;
}