body {
    background: url(/image/fundoceu.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#aviao {
    width: 200px;
    position: absolute;  /* Faz o objeto ficar em qualquer posicao da tela */
    top: 0; /*Controla de cima para baixo - Coordenada 00*/
    left: 0;
    animation: move 3s ease-out;
    animation-iteration-count: infinite; /* Coloca em loop infinito */
}

@keyframes move {
    0% {
        top: 0;
        left: 0;
    }

    100% {
        top: 460px;
        left: 900px;
    }
}